
#curtain {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

#app-title {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 75px;
  font-weight: normal;
  font-family: sans-serif;
}

#new-note {
  left: 0;
  top: 100px;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

#notes {
  margin: 0;
  padding: 0;
  border: 0;
}

.note {
  list-style-type: none;
  width: 700px;
  background-color: #FFFF00;
  position: relative;
  margin: 30px auto;
  min-height: 100px;
}

.title {
  background-color: #DDDDDD;
  width: 480px;
  height: 30px;
  margin: 0;
  padding: 10px;
  border: 0;
  font-weight: normal;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", serif;
}

.updated {
  background-color: #DDDDDD;
  position: absolute;
  right: 100px;
  top: 0;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.tags {
  width: 500px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #FF00FF;
}

.body {
  margin: 0;
  padding: 0;
  border: 0;
}

#new-note, .edit-note {
  width: 100px;
}

.save-note {
  width: 200px;
}

.edit-note, .save-note {
  top: 0;
  right: 0;
}

#new-note, .edit-note, .save-note {
  position: absolute;
  height: 100px;
  border-style: none;
  background-color: #00FFFF;
}

